
/* tablet landscape */
@media screen and (min-width: 680px) and (max-width: 899px)
{

}
    
/* tablet portrait/mobile landscape */
@media screen and (min-width: 540px) and (max-width: 679px)  
{

}
 
 /* mobile */
@media screen and (max-width: 539px) {
.wrapper{
	padding-top:80px;
	margin-left:auto;
	margin-right:auto;
	width:100%;
}
}

